html {
	font-size: 15px;
}
.turnTrackerPage {
	#favicon {
		width: 100px;
		height: auto;
	}
	.container-fluid {
		border-radius: 20px;
	}
	.turn-tracker {
		img {
			width: 110px;
			height: auto;
			text-align: center;
		}
		.card {
			cursor: grab;
		}
	}
	input, button {
		margin-left: 4px;
	}
	.input-group {
		width: 33%;
	}
	p {
		line-height: 1;
	}
	.progress {
		border: 2px solid darkslategrey;
	}

	.form-range::-moz-range-thumb {
		width: 2rem;
		height: 2rem;
	}
	.form-range::-webkit-slider-thumb {
		width: 2rem;
		height: 2rem;
	}
	/* (A) SHARED */
	#todo-wrap, #todo-wrap * {
		font-family: arial, sans-serif;
	}
	#todo-wrap input, .todo-item {
		border: 0;
		padding: 10px;
		font-size: 16px;
		margin-bottom: 10px;
	}

	/* (B) WRAPPER */
	#todo-wrap {
		background: slategray;
		margin: 0 auto;
		padding: 20px;
	}

	/* (C) HEADER */
	#todo-wrap h1 { margin: 10px 0; }

	/* (D) ROW ITEMS */
	#todo-add, .todo-row {
		display: flex;
		align-items: center;
	}
	#todo-item, .todo-item {
		flex-grow: 1;
		background: #fff;
	}
	.todo-item.todo-ok { 
		background: #cffff4; 
		text-decoration: line-through;
	}
	.todo-item.todo-indented {
		margin-left: 50px;
	}
	#todo-save, .todo-del, .todo-done, .todo-indent {
		color: #fff;
		cursor: pointer;
	}
	.todo-del { background: #ed3636; }
	#todo-save, .todo-done { background: #2781cf; }
	.todo-indent { background: goldenrod; }
	// grid
	.fightGridWrapper {
		background-color: gainsboro;
		padding: 10px;
		border-radius: 10px;
	}
	.fightGrid {
		width: 801px;
		height: auto;
		position: relative;
		line-height: 0;
	}
	.tile {
		border-radius: 6px;
		box-sizing: border-box;
		width: 100px;
		height: 100px;
		display: inline-block;
		padding: 10px;
		border: 1px solid whitesmoke;
		position: relative;
		overflow: hidden;
		.board-num {
			position: absolute;
			width: 45px;
			height: 45px;
			overflow: hidden;
			font-size: 45px;
			right: 0;
			bottom: -12px;
			color: #a0a0a090;
			font-family: sans-serif;
			font-weight: bold;
		}
	}
	.draggable {
		width: 100px;
		height: 100px;
		border-radius: 6px;
		position: absolute;
		z-index: 2;
		top: 0;
		left: 0;
		cursor: grab;
		img {
			width: 80px;
			height: 80px;
			top: 10px;
			pointer-events: none;
			position: relative;
		}
	}
	.draggable.is-pointer-down {
		background: #0C8;
	}
	.draggable.is-dragging { opacity: 0.7; }
}

